<html ng-app="NewsWidget">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>News Widget</title>
    <meta name="author" content="Nick Zincone"></>

    <!-- Publicly available styles -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/newsObject.css" />

    <!-- Publicly available Javascript libraries -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-animate.min.js"></script>

    <!-- Elektron WebSocket interface -->
    <script type="text/javascript" src="ERTController/ERTWebSocketController.js"></script>
    <script type="text/javascript" src="ERTController/ERTRESTController.js"></script>   
    <script type="text/javascript" src="ERTController/zlib.js"></script>

    <!-- Application-specific javascript interface and logic -->
    <script type="text/javascript" src="newsObject.js"></script>

</head>

<body ng-controller="widgetController as news">

<div class="page-header">
    <h3>EDP/ERT API - News Widget</h3>
</div>

<div class="container" style="width:1200px;height:680px; background:#303030;">
    <div class="row vertical-align" style="background:#202020;height: 45px;">
        <!-- <div class="col-xs-2." style="font-size:24px; color:orange;">News Filter:</div> -->
        <label class="col-md-1 control-label" style="width: 12.499999995%; font-size:20px; color:orange;">News Filter:</label>
        <div class="col-md-2">
            <input ng-disabled="news.needsConfiguration" class="form-control" type="text"
                   ng-model="news.selectedFilter" placeholder="Eg: TRI.N"></input>
            <span class="glyphicon glyphicon-search"></span>
        </div>
    </div>

    <div style="height:360px; color:white" ng-show=news.needsConfiguration>
        Before using this widget, the following configuration is required within the 'newsObject.js' file.
        Define the session and authentication properties within the following section:
        <pre style="font-size:12px;color:yellow;background-color:#303030; border:none">
// Application session configuration
// Define the session (TREP, EDP/ERT) you wish to use to access streaming services.  To define your session,
// Uncomment the line below:
//      session: undefined
//
// Eg:  session: 'EDP'     // EDP/ERT Session
//      session: 'ADS'     // TREP/ADS Session
        </pre>
    </div>

    <div ng-hide=news.needsConfiguration>
        <div class="row" style="background:#303030;height:360px">
            <div class="col-xs-12" >
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="col-xs-1">Time</th>
                        <th class="col-xs-2">RICs</th>
                        <th class="col-xs-9">Headline</th>
                      </tr>
                    </thead>
                    <tbody style="max-height:300px">
						<!-- Note: For each attribute below, we are doing an Angular one-time binding (::) to prevent unecessary filters processing -->
                        <tr ng-repeat="story in news.stories | filter:{subjects:(news.selectedFilter.length==0?'':'R:'+news.selectedFilter)}">
                            <td class="col-xs-1">{{::story.firstCreated | date : "hh:mm:ss a"}}</td>
                            <td class="col-xs-2">{{::story.subjects | filter:"R:" | ricList}}</td>
                            <td class="col-xs-9"><a href="" ng-click="news.selectStory(story)" style="color:yellow">{{::story.headline}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="table" style="width:1200px">
        <pre style="background:#303030; height:250px; color:mintcream">{{news.selectedStoryText()}}</pre>
    </div>

    <div class="row" style="background:#303030;">
        <div class="col-xs-1 wlabel">Status: </div>
        <div class="col-xs-11" style="color:#F9E79F;">
            <select class="status" animate-on-change="statusList[0]" style="width:100%; background-color:black" onchange="this.selectedIndex = 0;"
                    ng-model="statusList[0]" ng-options="status.msg for status in statusList"></select>
        </div>
    </div>
</div>
</body>
</html>
